<div class="navbar-gemma navbar-gemma-fixed">

  <!-- Right Navigation -->
  <div class="navbar-gemma-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="https://www.lewagon.com" class="navbar-gemma-item navbar-gemma-link">Stuff(TBD)</a>

    <!-- Text link -->
    <a href="" class="navbar-gemma-item navbar-gemma-link">Other Stuff(TBD)</a>

    <!-- Button (call-to-action) -->
<!--     <a href="" class="navbar-gemma-item navbar-gemma-button btn btn-primary">Post stuff</a> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-gemma-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-gemma-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
